image:
  repository: gcr.io/onec-co/datamon-migrator-v2
  tag: v2.0.0-beta7
  pullPolicy: IfNotPresent

history: false
repo: ""
bundle: ""
label: ""
newLabel: ""
context: dev

#secretName: credentials # <- specify an external secret. If not present a secret is created with the content from the credentials file
# NOTE: to create an external secret: kubectl create secret generic my-creds --from-file=~/.config/gcloud/application_default_credentials.json
secret: |
  CHANGE THIS

# location of the credentials on the container
credentials: /home/project/.config/gcloud/application_default_credentials.json

# default config to map as ${HOME}/.datamon/datamon.yaml
config1: |
  metadata: datamon-meta-data
  blob: datamon-blob-data
  credential: /home/project/.config/gcloud/application_default_credentials.json

# default config to map as ${HOME}/.datamon2/datamon.yaml
config2: |
  config: workshop-config
  context: dev
  credential: /home/project/.config/gcloud/application_default_credentials.json

# the size of the volume claim to attach as download staging
stagingSize: 10Gi
#storageClassName: manual # for local testing only
#storageType: local # for local testing only
storageClassName: ssd
storageType: pd-ssd
#storageClassName: standard
#storageType: pd-standard

# time to live for k8 resources (in seconds)
ttl: 86400
# number of allowed job restarts upon failure (with restartPolicy: OnFailure)
backoffs: 50

scripts:
  migrate: |
    {{ .Files.Get "scripts/migrate.sh" }}
  history: |
    {{ .Files.Get "scripts/migrate-history.sh" }}
  funcs: |
    {{ .Files.Get "scripts/funcs.sh" }}

# container mount points
home: '/home/project'
staging: '/data'

restartPolicy: OnFailure
nameOverride: ""
fullnameOverride: ""
application: datamon-migrator-v2

# Tune this for maximum performances
resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

# you may declare and mount extra volumes on the pod
extraVolumes:
extraVolumeMounts:

extraArgs: []
